<style>
    #arg-improved-ranking {
        text-align: center;
    }
    #arg-improved-ranking .inner {
        width: 280px;
        height: 280px;
        background: white;
        border-radius: 40px;
        position: relative;
        margin: 120px auto;
    }
    #arg-improved-ranking .ranking-bubble {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        position: absolute;
        background: #0d7eff;
        color: white;
        left: 60%;
        margin-left: -50px;
        top: -50px;
        -webkit-animation-delay: 2s;
        -webkit-animation-duration: 1500ms;
        z-index: 100;
    }
    #arg-improved-ranking .previous-ranking {
        border: 3px solid #0d7eff;
        color: #0d7eff;
        background: white;
        left: 40%;
        top: 0px;
        -webkit-transform: scale(0.76);
        -webkit-animation-delay: 1s;
    }
    #arg-improved-ranking h1 {
        color: #0d7eff;
        margin-top: 100px;
    }
    #arg-improved-ranking .button {
        position: absolute;
        bottom: 15px;
        left: 10px;
        right: 10px;
    }
</style>

<div id="arg-improved-ranking" class="arg-level-modal" ng-controller="ImprovedRankingController">
    <div class="inner">
        <span class="ranking-bubble previous-ranking">{{ oldRanking+1 }}.</span>
        <span class="ranking-bubble current-ranking tada">{{ newRanking+1 }}.</span>

        <div class="padding">
            <h1>Yay!</h1>
            <p>You improved your high-score ranking!</p>
        </div>
        <a class="button button-positive button-round button-bordered" ng-click="hideImprovedRankingModal()">Go on</a>
    </div>
</div>
