<ion-modal-view ng-controller="LanguageController">
    <ion-header-bar>
        <h1 class="title">{{'LANGUAGE'|translate}}</h1>
        <button class="button button-clear button-positive" ng-click="closeLanguage();">{{'CLOSE'|translate}}</button>
    </ion-header-bar>
    <ion-content>

        <p class="padding">
            {{'CHOOSE_A_LANGUAGE'|translate}}
        </p>
        <ion-list>
            <ion-radio ng-repeat="lang in availableLanguages" ng-model="$parent.$parent.selected" ng-value="lang">
                {{lang.title}}
            </ion-radio>
        </ion-list>

        <p class="padding">{{'CURRENT_LANGUAGE'|translate}}: <strong>{{active.title}}</strong></p>

        <button class="button button-clear button-positive button-round" ng-click="selectLanguage();">
          {{'SELECT_LANGUAGE'|translate}}
        </button>

    </ion-content>
</ion-modal-view>
